.coverage*
.venv
cover
*.pyc
AUTHORS
build
dist
run_tests.err.log
.tox
doc/source/api
doc/build/
releasenotes/build/
*.egg*
monclient/versioninfo
*.log
.testrepository
.pydevproject
.project
.idea
.stestr/
