oslo.config
oslo.concurrency
oslo.i18n
oslo.log
oslo.middleware
oslo.serialization
oslo.service
oslo.utils

python-keystoneclient

argparse
babel
iso8601>=0.1.9
pbr>=0.11
PrettyTable>=0.7
PyYAML>=3.1.0
requests>=1.1
six>=1.7.0
