testscenarios==0.5.0
testtools==1.8.0
argparse
babel
iso8601>=0.1.9
oslo.utils<2.0
pbr>=0.11,<2.0
PrettyTable>=0.7,<0.8
python-keystoneclient==1.6.0
PyYAML>=3.11,<3.12
requests>=2.7.0,<2.8
six>=1.7.0
oslo.serialization<1.9
