Source: python-monclient
Section: python
Priority: extra
Maintainer: Joachim Barheine <joachim.barheine@sap.com>
Build-Depends: debhelper (>= 9), python2.7, python2.7-dev, libyaml-dev, libffi-dev, dh-virtualenv (>= 0.9)
Standards-Version: 3.9.5

Package: python-monclient
Architecture: amd64
Pre-Depends: dpkg (>= 1.16.1), python2.7, libyaml-dev, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: CLI for Monitoring
